@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Sys/Views/Sys/_Login.cshtml";
    //註冊
}

<h3 class="text-center">Register</h3>

<div class="container Padding_Reg_RenderBody">
    <div class="row">
      <div class="col-md-10 mx-auto mt-5">
            <form>
                <div class="mb-3">
                    <label for="username" class="form-label">Name</label>
                    <input type="text" class="form-control form-control-lg" id="username" placeholder="user name">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control form-control-lg" id="password" placeholder="password">
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-lg" id="Email" placeholder="email">
                </div>
                <div class="mb-3">
                    <label for="PhoneNum" class="form-label">PhoneNum</label>
                    <input type="tel" class="form-control form-control-lg" id="PhoneNum" placeholder="phoneNum">
                </div>
                <div class="d-flex justify-content-center Margintop_LoginOrRegPag_button">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                </div>
            </form>
        </div>
    </div>
  </div>